<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>In and out</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="http://www.iconj.com/ico/i/o/iouu2gmp85.ico" type="image/x-icon">
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/click.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="nav">
		<nav>
			<a href="#welcome">WELCOME </a>|
			<a href="#idea"> IDEA </a>|
			<a href="#examples"> EXAMPLES </a>|
			<a href="#made"> HOW IT WAS MADE </a>|
			<a href="#resources"> RESOURCES </a>|
			<a href="#comment"> CONTACT </a>
		</nav>
	</div>

	<div class="main">
		<h1 class="jump" id="welcome">WELCOME</h1>
		<p class="text">
			I made this little movie, because I sometimes feel like making little movies, and then I saw the <a target="_blank" href="http://tvebiomovies.org/categories.php">tvebio competition</a> and I thought I'd give it a try.
		</p>
		<iframe src="https://www.youtube.com/embed/fFsh29Y5aCE" allowfullscreen></iframe>
		<p class="text">
			Then my story got selected, and so I made this little movie.<br>
			And now I am hoping for clicks, because more clicks more chances that I win some $weet $weet money!<br>
			So, if you like me, or the movie, you can watch it more often!
		</p>
		<h2 class="jump" id="idea">IDEA</h2>
		<p class="text">
			Sometimes I get sad thinking about what is happening around us, what we do to nature, trash here and there, less trees less fish, and more diseases.<br>
			As a normal consumer, I feel I can't do much, yes I drive the bike, and try not buy too many new things, and try to not put my groceries into plastic bags.<br>
			But these tries are really just tiny little drops, and are there probably to make me feel better about myself, more than help the world in any way.
		</p>
    <p class="text">
			I believe that the only way that it could make a difference is if our whole lives would be different.<br>
			If we change in a way so that we can actually take care that our inputs are manageable, maybe also our outputs can be.
		</p>
    <p class="text">
			And so I made this little movie, where I collected a few ideas of things that maybe make a tiny difference, some I read about, some I saw, some I experienced. It is probably not very realistic, but maybe if we pursued a different life, some of these things could be solutions and some of them are solutions today for some people who inventively take care of their needs, or in places where nature is giving and also taking in terms of disposal.
		</p>
    <p class="text">
			And even if these ideas might be unrealistic and not wholesome, it was and is fun for me to think about them, as well as make this movie.
		</p>
		<h2 class="jump" id="examples">REAL LIFE EXAMPLES</h2>
		<p class="text">
			Some things I knew from before, some I experienced myself, and some I just found exciting.
		</p>
		<p class="text">
			FISH: One time on a sea holiday, I pooped into the sea. As my poop touched the water a swarm of very excited <a target="_blank" href="https://en.wikipedia.org/wiki/Salema_porgy">salpe</a> feasted on it. It was an overwhelming exciting experience.
			I found out that my poop is not the only one eaten by fish. Some youtube videos about fish who eat poop as their life occupation: <a target="_blank" href="http://www.earthtouchnews.com/natural-world/animal-behaviour/in-africa-some-food-chains-are-powered-by-hippo-poop">eating hippo poop</a>, <a target="_blank" href="http://www.futurity.org/hippos-feces-rivers-fish-897822/">more hippo poop</a> and <a target="_blank" href="https://www.youtube.com/watch?v=RzK-8qFKm1Qh">some human poop</a>.
    </p>
    <p class="text">
			BIKE: I always wanted to hook TVs onto bikes, I thought it would do good, in more ways than just one, haha, and here are some people who made some aspects of my dream a reality:
			<a target="_blank" href="https://www.youtube.com/watch?v=kVAZIDFMRXY">setting it all up</a> and
			<a target="_blank" href="https://www.youtube.com/watch?v=O0x5j8_PKZw">phones and TV!</a>
		</p>
    <p class="text">
			WATER HEATERS: In some of the warmer or sunnier countries one can always see the sun getting employed also to warm water. Here are some links of people who built something such: <a target="_blank" href="https://www.youtube.com/watch?v=tOpoupq7DRI">more complicated version</a> and a simple<a target="_blank" href="https://www.youtube.com/watch?v=NH3sz73FfvY"> direct to the shower version</a>. A pool heater <a target="_blank" href="http://yanaouteast.blogspot.com/2010/06/how-to-heat-pool.html">example</a>.
		</p>
    <p class="text">
			CHICKEN: I have no idea how sustainable chickens are, but I guess I really wanted to have them in my movie, after doing <a target="_blank" href="https://www.coursera.org/course/chickens">this MOOC about chickens</a>, where I learnt a lot of things about them. I think they are very sweet and they make eggs, and all these things. I think they are pretty sweet collecting crumbs around and making little meals for their human friends. Also I like eggs.
		</p>
		<h2 class="jump" id="made">HOW IT WAS MADE</h2>
		<p class="text">
			First I thought about it for a while. I planned what is going to happen where and how, thinking about the way one idea goes into the next. I planned a few things but missed out some others.<br>
			Then I made little tiny drawings with pencil on a paper. I scanned them, converted into svgs, scaled them according to the size they had to have and printed them out.<br>
			Then I positioned them on the floor in the places I wanted them to be.<br>
			I used a table with some wheels, to which I attached my camera to slowly pan across the scene, moving all te creatures one at a time, taking a photo when they've all been moved.<br>
			I downloaded the photos from my camera, put them into the computer, assigned them a duration, and let it run. Took out some of the bad ones, and the repeats.<br>
			I then added the sounds one by one, trying to make it not too obvious, but still present.
		</p>
			<hr>
		<p>
			Would be sweet if you would try to make an animation too!
		</p>
		<h2 class="jump" id="resources">RESOURCES</h2>
		<h3>CONVERTIO</h3>
		<a target="_blank" href="https://convertio.co/">https://convertio.co/</a>
		<h3>FREESOUND</h3>
		<a target="_blank" href="https://www.freesound.org/">https://www.freesound.org/</a>
		<br>
		<br>
		<table>
		  <tr>
		    <td><strong>User</strong></td>
		    <td><strong>Sound</strong></td>
		  </tr>
		  <tr>
		    <td>Quistard</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/Quistard/sounds/166838/">166838</a></td>
		  </tr>
		  <tr>
		    <td>hisoul</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/hisoul/sounds/255341/">255341</a></td>
		  </tr>
		  <tr>
		    <td>Soughtaftersounds</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/Soughtaftersounds/sounds/145416/">145416</a></td>
		  </tr>
		  <tr>
		    <td>poorenglishjuggler</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/poorenglishjuggler/sounds/269496/">269496</a></td>
		  </tr>
		  <tr>
		    <td>pulswelle</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/pulswelle/sounds/175295/">175295</a></td>
		  </tr>
		  <tr>
		    <td>fer_t</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/fer_t/sounds/94295/">94295</a></td>
		  </tr>
		  <tr>
		    <td>Timbre</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/Timbre/sounds/70105/">70105</a></td>
		  </tr>
		  <tr>
		    <td>hanuman81</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/hanuman81/sounds/170652/">170652</a></td>
		  </tr>
		  <tr>
		    <td>f4ngy</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/f4ngy/sounds/240784/">240784</a></td>
		  </tr>
		  <tr>
		    <td>gerfaut83</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/gerfaut83/sounds/185633/">185633</a></td>
		  </tr>
		  <tr>
		    <td>leosalom</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/leosalom/sounds/234879/">234879</a></td>
		  </tr>
		  <tr>
		    <td>SquaredGlasses</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/SquaredGlasses/sounds/253649/">253649</a></td>
		  </tr>
		  <tr>
		    <td>Dann93</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/Dann93/sounds/192035/">192035</a></td>
		  </tr>
		  <tr>
		    <td>dobroide</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/dobroide/sounds/161925/">161925</a></td>
		  </tr>
		  <tr>
		    <td>reinsamba</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/reinsamba/sounds/259099/">259099</a></td>
		  </tr>
		  <tr>
		    <td>tobyf</td>
		    <td><a target="_blank" href="https://www.freesound.org/people/tobyf/sounds/105003/">105003</a></td>
		  </tr>
		</table>
		<h3>UDACITY</h3>
		<p class="text">
			<a target="_blank" href="https://www.udacity.com/nanodegree/?coupon=UMQ1KW197VBZ7CJ">Udacity</a> is where I learned my webpage making skills and more!
			<br>My nanodegrees:<a href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000?coupon=UMQ1KW197VBZ7CJ"> Intro to Programming ND</a> and <a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001?coupon=UMQ1KW197VBZ7CJ">Front End Web Developer ND</a>.
			<br>These are also referal links, so you can get 50$ off and so do I.
		</p>
		<img id="follow" class="image" src="img/chick.svg" alt="little chicken friend that follows the cursor around!">
		<hr class="hr-bottom">
 	 	<h2 class="jump" id="comment">CONTACT &amp; COMMENT:</h2>
 	 	{% if thanks %}
			<p class="message">
	 			Thank you.
			</p>
		{% endif %}
		{% if error %}
			<p class="error message">
 				Comment empty, try again.
			</p>
		{% endif %}
 		<form method="post" action="/">
			<textarea name="comment" placeholder="You can write a comment here!">{{comment}}</textarea>
			<br>
			<input name="email" value="{{email}}" placeholder="Optional email">
			<input type="submit" name="submit">
		</form>
 		<hr class="hr-bottom">
 		<p class="more-info">more info has come - Kalindi - autumn 2015</p>
 	</div>

  <footer></footer>
  <script src="js/chick.js"></script>
</body>
</html>